/*----- 【 MUSIC PLAYER #08 by @glenthemes 】 -----*/
[glenplayer08]{
	visibility:hidden;
	z-index:69;
}

[glenplayer08]:not([position="custom"]){
	position:fixed;
}

[glenplayer08][position-y="top"]{
	top:0;margin-top:var(--MusicPlayer-Corner-Offset);
}

[glenplayer08][position-y="bottom"]{
	bottom:0;margin-bottom:var(--MusicPlayer-Corner-Offset);
}

[glenplayer08][position-x="left"]{
	left:0;margin-left:var(--MusicPlayer-Corner-Offset);
}

[glenplayer08][position-x="right"]{
	right:0;margin-right:var(--MusicPlayer-Corner-Offset);
}

[m-flex]{
	display:grid;
	grid-template-columns:var(--MusicPlayer-Album-Image-Size) auto;
	grid-gap:var(--MusicPlayer-Center-Gap);
	align-items:center;
}

[glenplayer08] [album-wrapper]{
	position:relative;
	width:var(--MusicPlayer-Album-Image-Size);
	height:var(--MusicPlayer-Album-Image-Size);
}

[glenplayer08] [album-image]{
	width:100%;
	height:100%;
	border-radius:var(--MusicPlayer-Album-Image-Corner-Roundness);
	max-width:100%;
	vertical-align:middle;
	object-fit:cover;
}

[mp-ovl]{
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:0;
	line-height:1em;
}

[m-controls]{
	position:relative;
	width:calc(var(--MusicPlayer-Buttons-Size) + (var(--MusicPlayer-Buttons-Padding) * 2));
	height:calc(var(--MusicPlayer-Buttons-Size) + (var(--MusicPlayer-Buttons-Padding) * 2));
	
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	backdrop-filter:blur(var(--MusicPlayer-Buttons-Background-Blur));
	cursor:pointer;
	z-index:1;
}

[m-controls]:after {
	content:"";
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	background:var(--MusicPlayer-Buttons-Background);
	opacity:calc(100% - var(--MusicPlayer-Buttons-Background-Transparency));
	border-radius:100%;
	z-index:-1;
}

[m-controls]:before {
	content:"";
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	box-sizing:border-box;
	border:var(--MusicPlayer-Buttons-Border-Size) solid var(--MusicPlayer-Buttons-Border-Color);
	border-radius:100%;
	z-index:0;
}

[m-controls] > * {
	flex-shrink:0;
}

.mp08-play, .mp08-pause {
	-webkit-mask-repeat:no-repeat;
	-webkit-mask-size:contain;
	-webkit-mask-position:center;
	background-color:var(--MusicPlayer-Buttons-Color)
}

.mp08-play {
	margin-left:calc(var(--MusicPlayer-Buttons-Size) * 0.15);
	width:var(--MusicPlayer-Buttons-Size);
	height:var(--MusicPlayer-Buttons-Size);
	-webkit-mask-image:var(--mp08-play-icon);
}

.mp08-pause {
	display:none;
	width:calc(var(--MusicPlayer-Buttons-Size) - 2px);
	height:calc(var(--MusicPlayer-Buttons-Size) - 2px);
	-webkit-mask-image:var(--mp08-pause-icon);
}

[glenplayer08] [song-name]{
	font-family:poppins;
	font-size:var(--MusicPlayer-Song-Name-Size);
	text-transform:uppercase;
	letter-spacing:.7px;
	color:var(--MusicPlayer-Song-Name-Color);
	line-height:1.3em;
}

[glenplayer08] [artist-name]{
	font-family:vollkorn;
	font-size:var(--MusicPlayer-Artist-Name-Size);
	letter-spacing:.3px;
	color:var(--MusicPlayer-Artist-Name-Color);
	line-height:1.3em;
}

[glenplayer08] [music-info]{
	text-align:left;
}

[glenplayer08] [music-info] > * + * {
	margin-top:var(--MusicPlayer-Text-Line-Spacing);
}
