<!----- 【 MUSIC PLAYER #08 by @glenthemes 】 ----->
<link href="https://glen-players.gitlab.io/08/setup.css" rel="stylesheet">
<script src="https://glen-players.gitlab.io/08/init.js"></script>
<div glenplayer08>
	<img album-image src="https://64.media.tumblr.com/4d89ed9c4c2aafdaa5bf4c73bb61f203/9540ddd9bd6ce7e5-f3/s2048x3072/e00ef09c81d73c81181b26d09c82a5624d0c078b.png">
	
	<div music-info>
		<div song-name> Monster </div>
		<div artist-name> ✝ PVRIS ✝ </div>
	</div><!--don't delete this line :)-->
	
	<audio src="https://rhizo.gitlab.io/m/PVRIS-Monster.mp3" volume="85%"></audio>
</div><!--don't delete this line-->

<!-------------------------------->

<style element="glenplayer08">
[glenplayer08]{
	
	/*-- player position --*/
	--MusicPlayer-Position: "bottom left";
	--MusicPlayer-Corner-Offset: 20px;
	
	/*-- album image --*/
	--MusicPlayer-Album-Image-Size: 54px;
	--MusicPlayer-Album-Image-Corner-Roundness: 3px;
	
	/*-- player buttons (play/pause) --*/
	--MusicPlayer-Buttons-Size: 12px;
	--MusicPlayer-Buttons-Color: #ddd;
	--MusicPlayer-Buttons-Padding: 8px;
	--MusicPlayer-Buttons-Border-Size: 1px;
	--MusicPlayer-Buttons-Border-Color: #bbb;
	--MusicPlayer-Buttons-Background: #000000;
	--MusicPlayer-Buttons-Background-Transparency: 45%;
	--MusicPlayer-Buttons-Background-Blur: 3px;
	
	/*-- player song name --*/
	--MusicPlayer-Song-Name-Size: 12px;
	--MusicPlayer-Song-Name-Color: #222;
	
	/*-- player artist name --*/
	--MusicPlayer-Artist-Name-Size: 12px;
	--MusicPlayer-Artist-Name-Color: #777;
	
	/*-- player gap/spacing --*/
	--MusicPlayer-Center-Gap: 14px;
	--MusicPlayer-Text-Line-Spacing: 4px;
	
	/*-- playback settings --*/
	--MusicPlayer-Autoplay: "no";
	--MusicPlayer-Replay: "no";
	
}/* don't delete this bracket */
</style><!-- don't delete this line -->

<!-------------------------------->

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Vollkorn|Poppins:500" rel="stylesheet">