<link href="//fonts.googleapis.com/css?family=Vollkorn|Poppins:500" rel="stylesheet">

<!----- 【 MUSIC PLAYER #08 by @glenthemes 】 ----->
<link href="//glen-players.gitlab.io/08/setup.css" rel="stylesheet">
<script src="//glen-players.gitlab.io/08/init.js"></script>
<div glenplayer08>
	<img album-image src="https://64.media.tumblr.com/4d89ed9c4c2aafdaa5bf4c73bb61f203/9540ddd9bd6ce7e5-f3/s2048x3072/e00ef09c81d73c81181b26d09c82a5624d0c078b.png">
	
	<div music-info>
		<div song-name> Monster </div>
		<div artist-name> ✝ PVRIS ✝ </div>
	</div><!--don't delete this line :)-->
	
	<audio src="https://rhizo.gitlab.io/m/PVRIS-Monster.mp3" volume="85%"></audio>
</div><!--don't delete this line-->
<!---- END MUSIC PLAYER ---->
